body{
  font-family: Arial, sans-serif;
}

nav .bg-black img{
  width: 100px;
}

nav.bg-light img{
  width: 70px;
}

.navbar-light .navbar-nav .nav-link{
  color:black;
}

.nav-item.dropdown{
  padding: 0 5px;
}