/*BOOTSTRAP CLASSES*/
/***********************************/
:root{
  --bs-primary-rgb:45, 100, 230;
  --bs-info-rgb:0, 67, 156;
  --bs-warning-rgb:190, 188, 187;
}

.btn{
  padding: .375rem 1rem;
  font-weight: 600;
}

.btn-danger{
  background-color: #CD3D0F;
  border-color:#CD3D0F;
}

.btn-secondary{
  background-color: #D9DADC;
  border-color:#D9DADC;
}

.card{
  border:0;
}

.card-footer{
  border:0;
  background-color: white;
}
/***********************************/

/*SELECTORS*/
/********************************/
body{
  font-family: Arial, sans-serif;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2.3rem;
}

h4{
  font-size: 1.3rem;
}

h5, footer, small{
  font-size: 0.9rem;
}

nav .bg-black img{
  width: 100px;
}

a{
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link{
  color:black;
}

.nav-item.dropdown{
  padding: 0 5px;
}

.dropdown-toggle::after{
  vertical-align: middle;
  border:0;
  margin-left: .5em;
  width: .7em;
  height: .7em;
  background-image: url("../img/chevron-down-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.section_small img, .section_medium img{
  border-radius: 15px;
}

section:nth-of-type(2) .col:first-child a:before{
  content: "";
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  position:absolute;
  top:-5px;
  left:-5px;
  border: 3px solid #0072CE;
  border-radius: 20px;
} 

.ps5_footer .col{
  opacity: 50%;
}

.ps5_footer .col:nth-of-type(1){
  border-bottom: 3px solid #0072CE;
  opacity: 100%;
}

.ps5_footer small{
  display:none;
}

footer img{
  width: 120px;
}

.footer-language img{
  width:20px;
}

footer a{
  color:white;
}



/******************************/

/*CLASSES/*
/******************************/

.section_hero{
  background-position: top;
  background-size: cover;
}


.section_title{
  padding-bottom: 20px;
}

.section_subtitle{
  padding-bottom:10px;
}

.section_small{
  padding-top: 40px;
  padding-bottom:40px;
}

.section_medium{
  padding-top: 60px;
  padding-bottom:60px
}

.section_large{
  padding-top: 100px;
  padding-bottom: 100px;
}

.section_main_hero{
  padding-top: 250px;
  background-image: url(../img/jumbo-bg.png);
}

.section_hero_img{
 width: 50%;
  padding-bottom: 30px;
}

.ps5_card_img{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.second_hero{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.new_releases_img{
  padding-bottom: 10px;
}

/******************************/

/*MEDIA QUERIES*/
/****************************/
@media only screen and (min-width : 540px){
  .ps5_footer img{
    transform: scale(0.7);
  }

  .ps5_footer small{
    display:block;
  }
}
/*****************************/