:root{
  --bs-secondary-rgb: 190, 188, 187;
}

.btn{
  padding: .375rem 1rem;
}

.btn-danger{
  background-color: #CD3D0F;
  border-color:#CD3D0F;
}

/*SELECTORS*/
/********************************/
body{
  font-family: Arial, sans-serif;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2.3rem;
}

h4{
  font-size: 1.3rem;
}

h5, footer{
  font-size: 0.9rem;
}

nav .bg-black img{
  width: 100px;
}

nav.bg-light img{
  width: 70px;
}

.navbar-light .navbar-nav .nav-link{
  color:black;
}

.nav-item.dropdown{
  padding: 0 5px;
}

.section_small img, .section_medium img{
  border-radius: 20px;
}

.ps5_footer .col{
  opacity: 50%;
}
/******************************/

/*CLASSES/*
/******************************/

.section_hero{
  background-position: top;
  background-size: cover;
}

.main_hero{
  padding-top: 250px;
  padding-bottom: 100px;
  background-image: url(../img/jumbo-bg.png);
}

.section_title{
  padding-bottom: 20px;
}

.section_subtitle{
  padding-bottom:10px;
}

.section_small{
  padding-top: 10px;
  padding-bottom:10px;
}

.section_medium{
  padding-top: 20px;
  padding-bottom:20px
}

.section_large{
  padding-top: 30px;
  padding-bottom: 30px;
}

.section_hero_img{
 width: 50%;
  padding-bottom: 30px;
}

.text_small{
  font-size: 0.9rem;
}

.ps5_card_img{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.second_hero{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.new_releases_img{
  padding-bottom: 10px;
}

/******************************/